.header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;


    .top {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #F6F7F8;
        padding: 0 40px;

        .left {
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 20px;

            .nav {
                .navList {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    list-style: none;

                    li {
                        .link {
                            font-size: 14px;
                            color: #666666;
                            padding-bottom: 3px;

                            &:hover {
                                border-bottom: 2px solid #666666;
                            }
                        }
                    }
                }

            }
        }

        .center {
            display: none;

            .centerList {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                list-style: none;

                .centerLink {
                    font-size: 14px;
                }

                .activeLink {
                    color: black;
                    font-weight: bold;
                }
            }
        }

        .right {
            .list {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 40px;
                list-style: none;

                .listItem {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;

                    .searchIcon {
                        width: 12px;
                        height: 12px;
                    }

                    .arrow {
                        width: 12px;
                        height: 12px;
                    }

                    .phone {
                        width: 12px;
                        height: 12px;
                    }

                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .middle {
        position: relative;
        width: 100%;
        height: 74px;
        padding: 0 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #666666;
        background: #FFFFFF;

        .middleLeft {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .middleList {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                list-style: none;

                .middleLink {
                    color: #929292;
                }

                .activeLink {
                    color: black;
                    font-weight: bold;
                }

                .divider {
                    font-weight: bold;
                }
            }
        }

        .middleRight {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .internetBanking {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                &:hover .icon {
                    transform: translateX(5px);
                }

                .icon {
                    width: 24px;
                    height: 24px;
                    color: #0056c1;
                    transition: 0.5s all;
                }

                span {
                    font-weight: 600;
                    color: #0056c1;
                }
            }

            .mobileMenuBtn {
                display: none;
            }
        }

        .search {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;

            input {
                width: 100%;
                height: 150px;
                padding-left: 50px;
                border: none;
                font-size: 40px;

                &:focus-visible {
                    outline: none;
                }

                &::placeholder {
                    font-size: 40px;
                }
            }

        }
    }

    .bottom {
        position: relative;
        width: 100%;
        height: 76px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px;
        padding: 0 40px;
        background: #FFFFFF;

        .link {
            font-size: 15px;
            position: relative;




            &::after {
                content: '';
                position: absolute;
                width: 100%;
                bottom: -27px;
                left: 0;
                height: 2px;
                background: #0056c1;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
                transform: scaleX(0);
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

        }





        .creditMenu {
            position: absolute;
            left: 0;
            bottom: -23px;
            display: flex;
            justify-content: center;
            align-items: stretch;
            padding: 50px 80px;
            width: 100%;
            min-height: 300px;
            transform: translateY(300px);
            background: #FFFFFF;
            z-index: 1;
            border-top: 1px solid gray;

            .left {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
                gap: 100px;
                border-right: 1px solid gray;

                .links {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }

            .right {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
                gap: 50px;
                padding-left: 50px;

                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 20px;

                    h4 {
                        font-size: 25px;
                        white-space: nowrap;
                    }
                }
            }
        }

        .mortgageMenu {
            position: absolute;
            left: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px 80px;
            width: 100%;
            height: 300px;
            transform: translateY(300px);
            background: #FFFFFF;
            z-index: 1;
            border-top: 1px solid gray;

            .left {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
                gap: 30px;
                border-right: 1px solid gray;

                .links {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }

            .right {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: stretch;
                gap: 50px;
                padding-left: 50px;

                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 20px;

                    h4 {
                        font-size: 24px;
                        white-space: nowrap;
                    }
                }
            }
        }





    }

    .mobileMenu {
        display: none;
        max-height: calc(100vh - 100px);
        overflow: auto;

        .mobileInternetBankingContainer {
            width: 100%;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items:center;
            background: #0056c1;

            .mobileInternetBanking {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                color: white;
                font-size: 15px;
                font-weight: bold;

                .icon {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}





@media screen and (max-width:1200px) {
    .header {
        .top {
            .left {
                display: none;
            }

            .right {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}


@media screen and (max-width:768px) {
    .header {
        .top {
            padding: 0px 15px;
        }

        .middle {
            padding: 0px 15px;

            .search {
                input {
                    height: 170px;
                }
            }
        }



        .bottom {
            padding: 10px 15px;

            .bottomList {
                gap: 12px;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .header {

        .top {
            .center {
                display: block;
            }

            .right {
                .list {
                    gap: 10px;
                }
            }
        }

        .middle {
            .middleLeft {

                .logo {
                    .img {
                        width: 77px;
                        height: 35px;
                    }
                }

                .middleList {
                    display: none;
                }
            }

            .middleRight {
                .internetBanking {
                    display: none;
                    font-size: 14px;
                }

                .mobileMenuBtn {
                    display: block;
                    padding: 10px;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                  
                    span {
                        width: 35px;
                        height: 2px;
                        background: black;
                        transition: 0.5s all;
                    }
                }


                .closeMobileBtn {
                    padding: 10px;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    background: transparent;
                    border: none;
                    cursor: pointer;

                    span {
                        width: 35px;
                        height: 2px;
                        background: black;
                        transition: 0.5s all;
                    }

                    span:nth-child(1) {
                        transform: translateY(13px) rotate(45deg);
                    }
            
                    span:nth-child(2) {
                        opacity: 0;
                    }
            
                    span:nth-child(3) {
                        transform: translateY(-10px) rotate(-45deg);
            
                    }
                }
            }

            .search {
                input {
                    height: 74px;
                    font-size: 20px;
                    padding-left: 20px;

                    &::placeholder {
                        font-size: 20px;
                    }
                }
            }
        }

        .bottom {
            display: none;
        }

        .mobileMenu {
            display: block;
            background: white;
            height: 100vh;
            width: 100%;
            transform: translateX(100%);
            transition: 0.5s all;
        }

        .showMobileMenu {
            display: block;
            background: white;
            height: 100vh;
            width: 100%;
            transform: translateX(0);
            transition: 0.5s all;
        }
    }


}