.wrapper {
    width: 100%;
    background: #2f3135;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;

    .businessCards {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 20px;
}
}